{% extends 'core/base.html' %}

{% block title %}Achivement{% endblock title %}


{% block content %}

<div class="container mt-5">
 <h1 class='text-warning  border-bottom mb-5'>Achivement & Certificate</h1>
    <ul class='list-group list-group-item-dark'>
        <li class='list-group-item list-group-item-dark'>•	3rd position in inter-college science fair Competition.</li>
        <li class='list-group-item list-group-item-dark'>•	Participated in E-Agriculture monitoring system Innovative model held by SRIJAN-2019.</li>
        <li class='list-group-item list-group-item-dark'>•	Participated in Robo-Race Competition held by SRIJAN-2019.</li>
        <li class='list-group-item list-group-item-dark'>•	Participated in SWACHH BHARAT Summer Internship held in 2018-19.</li>
        <li class='list-group-item list-group-item-dark'>•	Participated in and Volunteer for Entrepreneurship Awareness Camp in 2019.</li>
        <li class='list-group-item list-group-item-dark'>•  Python Bootcamp udemy course certificate.</li>
    </ul>
   
     
</div>




{% endblock content %}