{% extends 'core/base.html' %}

{% block title %}Services{% endblock title %}
{% block content %}
<div class='mt-5 container'>
<h1 class='text-warning  mb-4 border-bottom'>SERVICES</h1>
 <div class="row">
  <div class="col-sm-4 text-center my-5">
   <i class="fas fa-code text-success fs-1 mb-2"></i>
   <h3>Web Development</h3>
   <p class='fs-5 ss-color' style='color:whitesmoke;'>I'm Make Responsive WebPages
   Using HTML,CSS,Javascript,Bootstrap.
   </p>

  </div>
   <div class="col-sm-4 text-center my-5">
   <i class="fab fa-react text-primary fs-1 mb-2"></i>
   <h3>ReactJs Front-End Development</h3>
   <p class='fs-5 ss-color' style='color:whitesmoke;'>I'm Make Responsive WebPages
    Using ReactJS Framework.
   </p>
  </div>

  <div class="col-sm-4 text-center my-5">
  <i class="fab fa-python text-primary fs-1 mb-2"></i>
   <h3>Python Developer</h3>
   <p class='fs-5 ss-color' style='color:whitesmoke;'>I'm Make GUI and game Using
   python modules like Tkinter,Pygame.
   </p>
  </div>
 
 
 </div>
  <div class="row">
  <div class="col-sm-4 text-center my-5">
   <i class="fas fa-code text-success fs-1 mb-2"></i>
   <h3>Djagno Full Stack Developement</h3>
   <p class='fs-5 ss-color' style='color:whitesmoke;'>I'm Make Responsive Websites
   Using Django Framework.
   </p>

  </div>
 </div>
</div>


{% endblock content %}