{% extends 'core/base.html' %}

{% block title %}Contact{% endblock  %}

{% block content %}
<div class='container mt-5'>
  <h1 class='text-warning mb-5 border-bottom'>Contact Details</h1>
  <div class="text-white my-5 mt-5 text-center">
     <i class="fas fa-envelope-square text-success fs-1 mb-2 my-5"></i>
      <p class='fs-4'>ayushmishra4545@gmail.com</p>
    </div>

     <div class="text-white my-5 mt-5 text-center">
      <i class="fas fa-phone text-success fs-1 mb-2 my-5"></i>
      <p class='fs-4'>+91 8718913809</p>
    </div>
  

     <div class="text-white my-5 mt-5 text-center">
   
      <i class="fab fa-linkedin text-primary fs-1 mb-2 my-5"></i>
      <p class='fs-4'>www.linkedin.com/in/ayush-mishra-350a80195</p>
     </div>
</div>


{% endblock content %}