{% extends 'core/base.html' %}


{% block title %}Introduction{% endblock title %}

{% load static %}
{% block content %}
<div class='mt-5'>
<div class="text-center">
  <img src="{% static 'core/images/photo.JPG' %}" alt="Profile Pic" class='img-thumbnail' width="180px" height='80px' >

</div>
<div class="mt-5 text-white mx-5 text-justify">
    <h1 class='font-weight-bold' style='font-family:"Satisfy",Sans-serif'>Hello</h1/>
     <div class='px-4' style='line-height:2rem'> 
       <p style='text-indent:100px' class='fs-5' style='word-space:2px'> I am <b>Aysuh Mishra</b>,i'm completed my Bachelore of engineering
        from Gyan ganga institute of technology and sciences
       in electronics and communication branch.
       </br>
        </br>
       My Carrier Objective is to work with full dedication in team and apply and improve my skills to the best way possible which would contribute 
       in the growth of organization.
       </br>
      </br>
        I Just like to learn new technologies and I have 1 year knowledge on HTML,CSS,BOOTSTRAP,JAVASCRIPT,PYTHON.
      </br>I want be a full stack developer in futue as along as Python Developer,
        i'm just love to make GUI's using Python language module like Tkinter and websites.
       </p>
     </div>
  </div>
  
</div>

{% endblock content %}