{% extends 'core/base.html' %}

{% block title %}Education{% endblock title %}

{% block content %}

<div class="container mt-3">
 <h1 class='text-warning  border-bottom mb-3'>Education</h1>
 <div class="row text-center mb-3">
            <div class='col-sm-5 offset-3'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Bachelor of Engineering</h3>
                    </div>
                    <div class='card-body bg-dark text-white'>
                        <h5>Gyan ganga institute of technology and sciences</h4>
                        <h5>2016-2020</h5>
                        <p>CGPA:8.49</p>
                    </div>
                </div>
            </div>
        
        </div>
        
        <div class="row text-center mb-3">
            <div class='col-sm-5 offset-3'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Higher Secondary School (12th)</h3>
                    </div>
                    <div class='card-body bg-dark text-white'>
                        <h5>Maharishi Vidya Mandir</h4>
                        <h5>2015-2016</h5>
                        <p>Percentage:66%</p>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="row text-center ">
            <div class='col-sm-5 offset-3'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Secondary School (10th)</h3>
                    </div>
                    <div class='card-body bg-dark text-white'>
                        <h5>Maharishi Vidya Mandir</h4>
                        <h5>2013-2014</h5>
                        <p>CGPA:6.6</p>
                    </div>
                </div>
            </div>
        
        </div>

</div>




{% endblock content %}