{% extends 'core/base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}

<div class="container mt-3">
 <h1 class='text-warning  border-bottom mb-3'>Projects</h1>
 <div class="row  mb-3">
            <div class='col-sm-6'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Projects Based On ReactJS</h4>
                    </div>
                    <div class='card-body bg-dark'>
                       <ul class='list-group fs-5 list-group-dark'>
                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                          Netflix Clone 
                          <a href='#'target='_blank' class='btn btn-primary' role='button'>Project Github link</a>
                         </li>

                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                            Google Keep Clone 
                            <a href='https://github.com/ayush4545/Reactjs-GoogleKeepClone' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>

                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                             Weather App 
                             <a href='https://github.com/ayush4545/React-weather-app' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>

                       </ul>                 
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Projects Based On Django</h4>
                    </div>
                    <div class='card-body bg-dark'>
                       <ul class='list-group fs-5 list-group-dark'>
                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                            Blog Website Icoder
                            <a href='https://github.com/ayush4545/company_project' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>
                        <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                            My Resume
                            <a href='https://github.com/ayush4545/Django_MyResume' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>

                       </ul>                 
                    </div>
                </div>
            </div>
    </div>

     <div class="row  mb-3">
            <div class='col-sm-6'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Projects Based On HTML,CSS</h4>
                    </div>
                    <div class='card-body bg-dark'>
                       <ul class='list-group fs-5 list-group-dark'>
                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                          Corporate website Front Page
                          <a href='https://gitlab.com/ayush4545/corporate-website.git' target='_blank' class='btn btn-primary' role='button'>Project Github link</a>
                         </li>

                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                            Hotel Website Front Page 
                            <a href='https://gitlab.com/ayush4545/foxmula_project_1' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>

                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                             Boutique Website Front Page
                             <a href=' https://gitlab.com/ayush4545/boutique_project_front_end' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>

                       </ul>                 
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Projects Based On Python</h4>
                    </div>
                    <div class='card-body bg-dark'>
                       <ul class='list-group fs-5 list-group-dark'>
                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                            Music Player
                            <a href='https://gitlab.com/ayush4545/my-python-projects' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>
                        <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                            Racing Game
                            <a href='https://gitlab.com/ayush4545/my-projects' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>
                         <li class='list-group-item list-group-item-secondary d-flex justify-content-between'>
                            Scientific Calclator
                            <a href='https://gitlab.com/ayush4545/scientific-calculator' target='_blank'  class='btn btn-primary' role='button'>Project Github link</a>
                        </li>

                       </ul>                 
                    </div>
                </div>
            </div>
    </div>


    <div class="row  mb-3">
            <div class='col-sm-6'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Major Project</h4>
                    </div>
                    <div class='card-body bg-dark'>
                       <h5 class='card-title'>RFID Based Attendance System</h5>
                       <p class='card-text'><b>Description : </b>Conventional method of taking attendance by calling names or signing on papers is very time consuming and insecure, hence inefficient. RFID based attendance system is one of the solutions for drawbacks
             that occur in conventional method. This will lead to eliminate or reduce the quality time wasted during 
            manual collection of attendance.
</p>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='card'>
                    <div class='card-header bg-dark text-white border-bottom border-white'>
                        <h4>Projects Based On Python</h4>
                    </div>
                    <div class='card-body bg-dark'>
                         <h5 class='card-title'>SMS Based Notice Board</h5>
                       <p class='card-text'><b>Description : </b>We come across situations where we urgently need to display notices on a screen.
                         This system allows the user to display notices without typing them manually. 
                         Here the announcer may SMS through his/her phone, then this message is transferred wirelessly and displayed on the LCD screen. 
                         The LCD is interfaced with an 8051 family of microcontroller
                      </p>       
                    </div>
                </div>
            </div>
    </div>

    
     
</div>




{% endblock content %}